1.Generar un array aleatorio de 100 elementos. Calcular la mediana correspondiente.

In [1]:
import numpy as np

In [2]:
np.random.randint(50, size=(1,100))

array([[37, 42,  7, 17,  4, 23, 22, 25, 25, 42, 38, 14, 41,  8, 31,  8,
        19,  5, 10, 31, 41,  0, 12, 40, 32,  2, 11, 33, 22,  7, 42, 47,
        34, 37, 44, 49, 32, 30, 30, 25, 26, 37, 28, 24, 29, 28, 10, 17,
        37,  2, 35, 45, 44, 37, 23, 40, 49, 10, 10, 28, 25, 24, 12, 14,
         4, 40, 19, 10, 39, 14, 22, 44,  2,  4, 16, 22, 47, 46, 18,  2,
        11, 18, 28,  4, 19, 33, 46, 30,  8, 39, 20, 47, 34, 10, 30,  3,
         7,  9, 15, 11]])

In [3]:
np.median(np.random.randint(50, size=(100)))

28.0

2.Recordar los ejercicios con funciones para cálculo de factorial y suma de serie de la Clase 02. Repetir ambos ejercicios, pero ahora utilizar las nuevas operaciones aprendidas con los ndarrays

In [34]:
import math
math.factorial(3)

6

In [5]:
arreglo = np.array([1,2,3,4,5])

In [6]:
suma = arreglo.sum()
print(str(suma))

15

3. En este link se provee un archivo con los resultados de la Encuesta de Sueldos de Openqube de Febrero 2020. Calcular y comparar media y mediana de los sueldos netos.

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('Salarios.csv', sep=';', encoding='latin-1',header=0)

In [20]:
df.columns

Index(['Timestamp', 'Me identifico', 'Tengo', 'Estoy trabajando en',
       'Dónde estás trabajando', 'Bolivia', 'Chile', 'Colombia', 'Cuba',
       'Costa Rica', 'Ecuador', 'El Salvador', 'Guatemala', 'Honduras',
       'México', 'Nicaragua', 'Panamá', 'Paraguay', 'Perú', 'Puerto Rico',
       'República Dominicana', 'Uruguay', 'Venezuela', 'Años de experiencia',
       'Años en la empresa actual', 'Años en el puesto actual',
       '¿Gente a cargo?', 'Nivel de estudios alcanzado', 'Estado', 'Carrera',
       'Universidad', 'Realizaste cursos de especialización',
       '¿Contribuís a proyectos open source?', '¿Programás como hobbie?',
       'Trabajo de', 'Plataformas', 'Lenguajes de programación',
       'Frameworks, herramientas y librerías', 'Bases de datos',
       'QA / Testing', 'IDEs', '¿Qué SO usás en tu laptop/PC para trabajar?',
       '¿Y en tu celular?', '¿Tenés guardias?', 'Cuánto cobrás por guardia',
       '¿Porcentaje, bruto o neto?', 'Tipo de contrato',
       'Salario mensual BRUTO (en tu moneda local)',
       'Salario mensual NETO (en tu moneda local)', 'Unnamed: 49',
       '¿Qué tan conforme estás con tu sueldo?',
       'Cómo creés que está tu sueldo con respecto al último semestre',
       'Recibís algún tipo de bono', 'A qué está atado el bono',
       '¿Tuviste ajustes por inflación en lo que va de 2020?',
       '¿De qué % fue el ajuste total?', '¿En qué mes fue el último ajuste?',
       '¿Sufriste o presenciaste situaciones de violencia laboral?',
       'Orientación sexual', '¿Tenés algún tipo de discapacidad?',
       '¿Sentís que esto te dificultó el conseguir trabajo?',
       '¿Sos miembro de alguna comunidad IT?',
       '¿Escuchás algún podcast de IT?',
       '¿A qué eventos de tecnología asististe en los últimos 12 meses?',
       'Cantidad de empleados', 'Actividad principal',
       '¿La recomendás como un buen lugar para trabajar?',
       '¿Cómo calificás las políticas de diversidad e inclusión?',
       'Beneficios extra', '¿Cómo venís llevando la cuarentena?',
       '¿Tenés hijos/as menores de edad?',
       '¿Con cuántas personas estás conviviendo?', '¿Con quiénes convivís?',
       '¿Tenés un espacio dedicado para el trabajo?',
       '¿Tenés que compartir tu equipo de trabajo con alguien?',
       '¿Qué tipo de cuarentena estás haciendo?',
       '¿Cambió tu situación laboral a raíz de la pandemia?',
       '¿Qué tanto sentís que te está apoyando tu empresa en esta situación?',
       '¿Cómo se vio afectada tu empresa?',
       '¿Instauraron algún beneficio nuevo?',
       '¿Cuáles considerás que son las mejores empresas de IT para trabajar en este momento, en tu ciudad?'],
      dtype='object')

In [21]:
salarios = salario.apply(pd.to_numeric, errors= 'coerce', downcast =None)

In [22]:
salarios.dtype

dtype('float64')

In [23]:
salarios

0        43000.000
1        63000.000
2       127000.000
3       102000.000
4       106000.000
           ...
6410     97000.000
6411     71000.000
6412        45.753
6413        72.000
6414     65000.000
Name: Salario mensual NETO (en tu moneda local), Length: 6415, dtype: float64

In [24]:
salarios.astype(str, errors = 'raise')

0        43000.0
1        63000.0
2       127000.0
3       102000.0
4       106000.0
          ...
6410     97000.0
6411     71000.0
6412      45.753
6413        72.0
6414     65000.0
Name: Salario mensual NETO (en tu moneda local), Length: 6415, dtype: object

In [37]:
mediana = salarios.median()
mediana

76000.0

In [38]:
media = salarios.mean()
media

233434.44615009683