1- Escribir una función para calcular el factorial de un número cualquiera

In [ ]:
z=1
for i in range(1,3+1):
    z*=i
print(z)

6

In [ ]:
def factorial(x):
  z=1
  for i in range(1,x+1):
    z*=i
  return z

In [ ]:
factorial(3)

6

2- Escribir una función para calcular la suma de una serie comenzando por un número cualquiera y terminando en otro número que debe ser mayor al primero.

In [ ]:
serie= [1,2,3,4,5]
z= sum(serie)
print(z)

15

In [ ]:
list(range(1,5))

[1, 2, 3, 4]

In [ ]:
def suma(x,y):
  z= list(range(x,y+1))
  resultado=sum(z)
  return resultado

In [ ]:
suma(1,5)

15